fastapi
uvicorn[standard]
streamlit
yfinance
requests
sentence-transformers
faiss-cpu
langchain
openai
pyttsx3
SpeechRecognition
python-multipart
streamlit
gtts
speechrecognition
transformers
sentence-transformers
faiss-cpu
beautifulsoup4
requests
